.menu {
    background-color: #333;
    margin-left: 250px
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    position: relative;
}

.menu ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
}

.menu ul li:hover .submenu {
    display: block;
}

.menu ul li:hover a {
    background-color: #555;
}

.menu ul .submenu {
    display: none;
    position: absolute;
    background-color: #333;
    border-top: 2px solid #555;
    min-width: 200px;
    z-index: 1000;
}

.menu ul .submenu li a {
    padding: 10px 20px;
}

.janela {
    position: absolute;
    top: 100px;
    left: 300px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* cursor: grab; */
    padding: 10px;
    z-index: 1;
}

.janela .acoesConsulta {
    list-style-type: none;
    padding-left: 0px;
    text-align: right;
}

.janela .content {
    list-style-type: none;
    padding-left: 0px;
    text-align: right;
}

.janela #area_acoes {
    /*position: absolute;*/
    margin-top: 20px;
    bottom: 10px;
}

.janela .acoesConsulta ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.janela .acoesConsulta li {
    display: inline-block;
    position: relative;
}

.janela .acoesConsulta li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
}

.header {
    
}

.sidebar {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: block*/
}

.sidebar ul li {
    display: inline-block;
    position: relative;
    /*padding-left: 200px*/
}

.sidebar ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    /*color: #fff;*/
}

.sidebar ul li:hover .sistema {
    display: block;
}

.sidebar ul li:hover a {
    background-color: #555;
}

.sidebar ul .sistema {
    display: none;
    position: absolute;
    background-color: #333;
    border-top: 2px solid #555;
    min-width: 200px;
    z-index: 1000;
}

.sidebar ul .sistema li a {
    padding: 10px 20px;
}